// ----- Variables -----

// Colours
$progress-color-dark:       $brand-blue_main !default;
$progress-color:            $brand-blue_main !default;
$progress-color-light:      $brand-blue_main !default;
$progress-color-grey-light: $brand-blue_main !default;
$progress-color-grey:       $brand-blue_main !default;
$progress-color-grey-dark:  $brand-blue_main !default;

// Sizing
$progress-tracker-padding:  5px !default;

$marker-size:               25px !default;
$marker-size-half:          ($marker-size / 2);
$marker-size-third:         ($marker-size / 3);
$marker-size-quarter:       ($marker-size / 4);
$marker-spacing:            10px !default;

$path-height:               1px !default;
$path-position:             $marker-size-half - ($path-height / 2);

$text-padding:              $marker-size-half !default;
$text-padding-X:            0 !default;
$text-padding-Y:            $marker-size-half !default;
$text-padding--vertical:    $marker-size + $marker-size-half !default;

// Only needed for short text version, the word size should be the width of the widest word without padding.
$word-size:                     14px !default;
$progress-tracker-word-padding: ($word-size + $text-padding-X + $marker-size-half) / 2;

// Animations/Transitions
$animation-duration:        0.3s !default;
$ripple-color:              rgba(0, 0, 0, 0.3) !default;
