<div class="resumen-gestiones">
  <h3>Resumen de mis gestiones</h3>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-8">
          <img src="assets/icons/icon-asignados-blue.svg" alt="">
          <h2>Total Asignados</h2>
          <h4>27</h4>
        </div>
        <div class="col-4">
          <div class="cerrados">
            <img src="assets/icons/icon-asignados-blue.svg" alt="">
            <h5>Cerrados</h5>
            <h6>15</h6>
          </div>
          <div class="pendientes">
            <img src="assets/icons/icon-asignados-blue.svg" alt="">
            <h5>Pendientes</h5>
            <h6>12</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <table>
        <tbody>
          <tr>
            <td><img src="assets/icons/icon-calendar.svg" alt=""></td>
            <td>Agendados</td>
            <td class="regular">5</td>
          </tr>
          <tr>
            <td><img src="assets/icons/icon-no-exam-on.svg" alt=""></td>
            <td>No quiere hacerse los exámenes</td>
            <td class="regular">5</td>
          </tr>
          <tr>
            <td><img src="assets/icons/icon-no-contact-on.svg" alt=""></td>
            <td>No quiere que lo contacten</td>
            <td class="regular">5</td>
          </tr>
          <tr>
            <td><img src="assets/icons/icon-without-communication-on.svg" alt=""></td>
            <td>Paciente incontactable</td>
            <td class="regular">6</td>
          </tr>
          <tr>
            <td><img src="assets/icons/icon-clock.svg" alt=""></td>
            <td>Pendientes de gestión</td>
            <td class="regular">6</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>