<div class="modal" id="modal-crearPaciente" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5>RUT no encontrado - Crear paciente</h5>
        <h6>Si el paciente ya se encuentra registrado, proceda a revisar el RUT</h6>
        <div class="editarDatos">
          <div class="row">
            <div class="col-4">
              <div class="rut campo-datos">
                <label>RUT</label>
                <input autocomplete="off" type="text" placeholder="16.456.789-0" disabled>
              </div>
              <div class="fecha-nacimiento campo-datos">
                <label>Fecha de nacimiento</label>
                <input autocomplete="off" type="text" maxlength="2" placeholder="DD" (keypress)="numberOnly($event)">
                <input autocomplete="off" type="text" placeholder="MM"  maxlength="2" (keypress)="numberOnly($event)">
                <input autocomplete="off" type="text" maxlength="4" placeholder="AAAA" (keypress)="numberOnly($event)">
              </div>
              <div class="correo campo-datos">
                <label>Correo</label>
                <!-- <span>Agregar otro</span> -->
                <input autocomplete="off" type="email" placeholder="nombre@mail.com" (keypress)="email($event)">
              </div>
              <div class="calle campo-datos">
                <label>Dirección</label>
                <input autocomplete="off" type="text" placeholder="Calle / número">
              </div>
            </div>
            <div class="col-4">
              <div class="nombres campo-datos">
                <label>Nombres</label>
                <input autocomplete="off" type="text" placeholder="Francisca Andrea">
              </div>
              <div class="genero campo-datos">
                <label>Género</label>
                <ng-select [items]="genero"
                  bindLabel="name" placeholder="Selecciona">
                </ng-select>
              </div>
              <div class="telefono campo-datos">
                <label>Teléfono</label>
                <!-- <span>Agregar otro</span> -->
                <input autocomplete="off" type="text" placeholder="569 12345678" maxlength="11" (keypress)="numberOnly($event)">
              </div>
              <div class="ciudad campo-datos">
                <input autocomplete="off" type="text" placeholder="Comuna">
              </div>
            </div>
            <div class="col-4">
              <div class="apellidos campo-datos">
                <label>Apellidos</label>
                <input class="firstLastName" autocomplete="off" type="text" placeholder="Velasco">
                <input autocomplete="off" type="text" placeholder="Ferrada">
              </div>
              <div class="prevision campo-datos">
                <label>Previsión</label>
                <!-- <input autocomplete="off" type="text"> -->
                <ng-select [items]="prestacion"
                  bindLabel="name" placeholder="Selecciona">
                </ng-select>
              </div>
              <div class="nacionalidad campo-datos">
                <label>Nacionalidad</label>
                <ng-select [items]="nacionalidad"
                  bindLabel="name"
                  placeholder="Nacionalidad">
                </ng-select>
              </div>
              <div class="region campo-datos">
                <!-- <input autocomplete="off" type="text"> -->
                <ng-select [items]="region"
                  bindLabel="name"
                  placeholder="Región">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="guardar">
          <button data-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>