@import '../../scss/var';

.table-asignados {
  height: 75.5vh;
  overflow: scroll;
  table{
    width: 100%;
    .table-header{
      background-color: #f2f2f2;
      color: $gray_typo;
      font-size: 12px;
      font-weight: 500;
      padding: 1em;
      position: relative;
      cursor: pointer;
      .icon_orden{
        width: 10px;
        margin: 0 .5em;
      }
      @media only screen and (min-width: 900px) and (max-width: 1300px) {
        &:first-child {
          width: 12%;
        }
        &:nth-child(2) {
          width: 10.6%;
        }
        &:nth-child(3) {
          width: 12.4%;
        }
        &:nth-child(4) {
          width: 9%;
        }
        &:nth-child(5) {
          width: 6%;
        }
        &:nth-child(6) {
          width: 12%;
        }
        &:nth-child(7) {
          width: 15%;
        }
        &:nth-child(8) {
          width: 10%;
        }
        &:nth-child(9) {
          width: 12%;
        }
      }
    }
    .thead-sticky {
      position: fixed;
      width: 96%;
      top: 12.55em;
      // @media only screen and (min-width: 900px) and (max-width: 1300px) {
      //   top: 26.3%;
      // }
      .header-sticky {
        @extend .table-header;
        position: absolute;
          .icon_orden{
            width: 10px;
            margin: 0 .5em;
          }
        &:first-child {
          width: 14.5%;
        }
        &:nth-child(2) {
          left: 14.4%;
          width: 8.5%;
        }
        &:nth-child(3) {
          left: 22.95%;
          width: 16.3%;
        }
        &:nth-child(4) {
          left: 39.3%;
          width: 6.7%;
        }
        &:nth-child(5) {
          left: 46%;
          width: 8%;
        }
        &:nth-child(6) {
          left: 54%;
          width: 17.7%;
        }
        &:nth-child(7) {
          left: 71.7%;
          width: 11.6%;
        }
        &:nth-child(8) {
          left: 83.3%;
          width: 7.6%;
        }
        &:nth-child(9) {
          left: 90.9%;
          width: 9.1%;
        }
        @media only screen and (min-width: 900px) and (max-width: 1300px) {
          &:first-child {
            width: 11.8;
          }
          &:nth-child(2) {
            left: 11.8%;
            width: 10.4%;
          }
          &:nth-child(3) {
            left: 22.1%;
            width: 12.2%;
          }
          &:nth-child(4) {
            left: 34.3%;
            width: 8.7%;
          }
          &:nth-child(5) {
            left: 43%;
            width: 9.9%;
          }
          &:nth-child(6) {
            left: 52.9%;
            width: 11.8%;
          }
          &:nth-child(7) {
            left: 64.7%;
            width: 14.3%;
          }
          &:nth-child(8) {
            left: 79%;
            width: 9.5%;
          }
          &:nth-child(9) {
            left: 88.5%;
            width: 11.5%;
          }
        }
      }
    }
    .table-body{
      font-size: 12px;
      tr{
        border-bottom: 1px solid #f0f0f0;
        vertical-align: top;
        cursor: pointer;
        td {
          padding: 1em;
          span {
            padding-bottom: .3em;
          }
        }
        .table-typo-light_blue_dark{
          font-weight: 300;
          color: $brand-blue_dark;
          display: block;     
        }
      }
    }
  }
}
