<div class="modal fade" id="modal-confirmar" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5>Eliminar hora agendada</h5>
        <img class="circle-check" src="../assets/icons/icon-error.svg" alt="circle-check"/>
        <div class="modal-mail">
          <p>Está seguro de eliminar la reserva de Endoscopia Digestiva para las 15:30 pm el 05/05/2018</p>
        </div>
        <button class="modal-button_white" type="button" data-dismiss="modal" aria-label="Close">Cancelar</button>
        <button class="modal-button" type="button" data-dismiss="modal" aria-label="Close">Eliminar</button>
      </div>
    </div>
  </div>
</div>