<div class="login">
  <div class="row">
    <div class="col-5 login-group">
      <div class="logo">
          <img src="../assets/imgs/logo-bupa.png" alt="">
          <h1>Connecting People</h1>
      </div>
      <div class="input-logo">
        <p>RUT</p>
        <input type="text">
      </div>
      <div class="input-logo">
        <p>Contraseña</p>
        <input type="password">
      </div>
      <button (click)="dismissWindow()">Iniciar sesión</button>
      <div class="forgotPass">
        <a href="#">Olvide la contraseña</a>
      </div>
    </div>
    <div class="col-7 home-img">
      <img src="../assets/imgs/image-home.png" alt="">
    </div>
  </div>
</div>
