<div class="carrusel-pacientes" *ngFor="let dato of patient">
  <div class="patient-logo">
    <!-- <a href="#"><img class="icon-arrow-left" src="assets/icons/icon-arrow-left-grey.svg" alt=""/></a> -->
    <img src="{{dato.logo}}" alt=""/>
    <!-- <a href="#"><img class="icon-arrow-right" src="assets/icons/icon-arrow-right-blue.svg" alt=""/></a> -->
  </div>
  <div class="patients-data">
    <h5 class="patients-name">{{dato.name}}</h5>
    <p class="patients-genre-age">{{dato.genre}} | {{dato.age}}</p>
    <p class="patients-contact patients-mail">{{dato.mail}}</p>
    <p class="patients-contact">{{dato.cel}}</p>
    <p class="patients-rut">RUT:  {{dato.rut}}</p>
    <p class="patients-rut">Previsión: {{dato.prev}}</p>
  </div>
</div>
