<header>
  <div class="row">
    <div class="col-6">
      <div class="header-brand">
        <!-- Componente boton hamburguesa-->  
        <button>
          <img src="assets/icons/icon-menu.svg" alt=""/>
        </button>
        <img class="img-brand" src="assets/icons/logo-bupa-white.svg" alt="img-brand"/>
        <h1>Connecting People</h1>
      </div>
    </div>
    <div class="col-6">
      <div class="header-user">
        <!-- Componente informacion y foto usuario-->
        <div class="user-info">
          <img class="user-img" src="assets/imgs/user.png" alt="img-brand"/>
          <div class="user-info_text">
            <p class="user-name">Nicole Nazar Herrera</p>
            <p class="user-place">Integramedica Manquehue</p>
          </div>
        </div>
        <!-- Componente notificaciones-->
        <img class="icon-notifications" src="assets/icons/icon-notificaciones.svg" alt=""/>
      </div>
    </div>
  </div>
</header>