@import '../../scss/var';

header {
  @media (max-width: 995px) {
    display: none;
  }
  .header-navbar {
    width: 100%;
    height: 3.3em;
    background-color: $brand-blue_main;
    color: #fff;
    padding-left: 0;
    .header-brand {
      .header-button_burger {
        width: 2em;
        height: 2em;
        padding-left: 2%;
        cursor: pointer;
        background-color: $brand-blue_main;
        border: none;
        &:focus {
          outline: none;
        }
      }
      .img-brand {
        height: 2.68em;
        margin: 0 0.7em 0 2em;
      }
      .navbar-title {
        display: inline-block;
        font-size: 20px;
        font-weight: $medium;
        padding-top: 0.6em;
      }
    }
    .header-user {
      display: inline-flex;
      .user-info {
        display: inherit;
        .user-img {
          border-radius: 50%;
          height: 2.6em;
          margin: .5em .5em 0 0;
        }
        .user-info_text {
          .user {
            font-size: 0.75em;
            margin: 0;
          }
          .user-name {
            margin-top: 1em;
            margin-bottom: -.2em;
            font-weight: $medium;
          }
          .user-place {
            font-weight: $light;
          }
        }
      }
      .icon-notifications {
        cursor: pointer;
        margin: .5em .5em 0 3em;
      }
    }
  }
}

.no-padding{
  padding: 0 !important;
}
.fix-margin {
  margin-right: 0!important;
}
