<header>
  <div class="row fix-margin">
    <div class="col-12 no-padding">
      <nav class="header-navbar navbar navbar-expand-lg navbar-light">
        <div class="col-6">
          <div class="header-brand">
            <!-- Componente boton hamburguesa-->  
            <button class="header-button_burger" (click)="openSidebar()">
              <img src="assets/icons/icon-menu.svg" alt=""/>
            </button>
            <img class="img-brand" src="assets/imgs/brand-bupa.png" alt="img-brand"/>
            <h1 class="navbar-title">Connecting People</h1>
          </div>
        </div>
        <div class="col-6 text-right">
          <div class="header-user">
            <!-- Componente informacion y foto usuario-->
            <div class="user-info"><img class="user-img" src="assets/imgs/user.png" alt="img-brand"/>
              <div class="user-info_text text-left">
                <p class="user user-name">Nicole Nazar Herrera</p>
                <p class="user user-place">Integramedica Manquehue</p>
              </div>
            </div>
            <!-- Componente notificaciones-->
            <img class="icon-notifications" src="assets/icons/icon-notificaciones.svg" alt=""/>
            <!-- Componente menu-user-->
            <img class="icon-menu-barra" src="assets/icons/icon-menu-barra.svg" alt=""/>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>