@import '../../scss/var';

header {
  @media (max-width: 995px) {
    display: none;
  }
  .header-navbar {
    width: 100%;
    height: 3.3em;
    background-color: $brand-blue_main;
    color: #fff;
    padding-left: 0;
    .header-brand {
      .header-button_burger {
        width: 2em;
        height: 2em;
        padding-left: 2%;
        cursor: pointer;
        background-color: $brand-blue_main;
        border: none;
        &:focus {
          outline: none;
        }
      }
      .img-brand {
        width: 8em;
        height: 2.68em;
        margin-right: 0.5em;
      }
      .navbar-title {
        display: inline-block;
        font-size: 1.25em;
        font-family: $font-family;
        padding-top: 0.4em;
      }
    }
    .header-user {
      display: inline-flex;
      .user-info {
        display: inherit;
        .user-img {
          border-radius: 50%;
          width: 2.8em;
          height: 2.5em;
          margin-right: 0.5em;
          margin-top: 0.2em;
        }
        .user-info_text {
          .user {
            font-size: 0.75em;
            margin: 0;
          }
          .user-name {
            margin-top: 0.5em;
            font-weight: bold;
          }
          .user-place {
            font-weight: lighter;
          }
        }
      }
      .icon-notifications {
        cursor: pointer;
        margin-left: 1.8em;
      }
      .icon-menu-barra {
        cursor: pointer;
        font-size: 1.2em;
        margin-left: 2em;
      }
    }
  }
}

.no-padding{
  padding: 0 !important;
}
.fix-margin {
  margin-right: 0!important;
}
