@import '../../scss/var';

header {
  @media (max-width: 995px) {
    display: none;
  }
  position: fixed;
  width: 100%;
  height: 4.4%;
  z-index: 10;
  .row {
    margin: 0;
    background-color: $brand-blue_main;
    color: #fff;
    .col-6 {
      padding: 0;
    }
    .header-brand {
      padding-left: .5em;
      button {
        cursor: pointer;
        background-color: $brand-blue_main;
        border: none;
        img {
          height: 1em;
        }
        &:focus {
          outline: none;
        }
      }
      .img-brand {
        height: 2em;
        margin: 0 1.2em 0 2.5em;
      }
      h1 {
        display: inline-block;
        font-size: 20px;
        font-weight: $medium;
        padding-top: 1em;
      }
    }
    .header-user {
      text-align: right;
      padding-right: 2.5em;
      .user-info {
        display: inline-block;
        .user-img {
          border-radius: 50%;
          height: 2.6em;
          margin: 0 .5em .7em 0;
        }
        .user-info_text {
          display: inline-block;
          .user {
            font-size: 0.75em;
            margin: 0;
            &-name {
              @extend .user;
              margin-top: 1em;
              margin-bottom: -.2em;
              font-weight: $medium;
            }
            &-place {
              @extend .user;
              font-weight: $light;
            }
          }
        }
      }
      .icon-notifications {
        cursor: pointer;
        margin: 0 .5em .7em 3em;
      }
    }
  }
}
