@import '../../scss/var';

.tabla-ordenes{
  height: 83vh;
  overflow-y: scroll;
  table{
    width: 100%;
    .table-header-order{
      background-color: $grey-background;
      color: $gray_typo;
      font-size: 12px;
      font-weight: 500;
      padding: 1em 1.2em;
      cursor: pointer;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 5;
      .icon_orden{
        width: 10px;
        margin: 0 .5em;
      }
      &:first-child {
        width: 21%;
      }
      &:nth-child(2) {
        width: 14%;
      }
    }
  
    .table-body-order{
      position: relative;
      background-color: #f5fcfc;
      font-size: 14px;
      color: $brand-blue_dark;
      cursor: pointer;
      .table-body-row{
        font-weight: 300;
        padding: 1em;
  
        &:first-child{
          font-weight: 500 !important;
        }
      }
      .icon_bottom{
        width: 1.15em;
      }
    }
  
    .table-submenu{
      td{
        padding: 0 !important;
      }
    }
  }
}