<div class="modal" id="modal-cvDoctor" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="header">
          <button type="button" aria-label="Close" data-dismiss="modal" data-toggle="modal" data-target="#nuevaReserva">
            <span aria-hidden="true">Volver a reserva</span>
          </button>
          <h5>Ficha médico</h5>
        </div>
        <div class="doctor-info">
          <div class="row">
            <div class="col-4">
              <img src="assets/icons/image-cv.png">
              <h2>Dr. Elena San Martín</h2>
              <h4>Pediatra</h4>
              <h5>Chilena</h5>
              <h5>Nº Registro: 384858595-7</h5>
              <h3>Especialidades</h3>
              <h5>Pediatría</h5>
              <h5>Medicina general</h5>
              <h5>Adolescencia</h5>
            </div>
            <div class="col-4">
              <h3>Sobre el doctor</h3>
              <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem</p>
            </div>
            <div class="col-4">
              <h3>Atiende en</h3>
              <label class="container">Centro Médico Manquehue
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>
              <label class="container">Centro Médico Las Condes
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>
              <label class="container">Centro Médico Tobalaba
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>
              <div class="centro-medico-manquehue">
                <h6>Integramédica Manquehue</h6>
                <h5>Av. Manquehue Sur 329, Las Condes Santiago</h5>
                <img src="assets/icons/icon-phone.svg" alt="">
                <span>600 636 6666    |    22 636 6666</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
