<div class="menuAsignados">
  <div class="row container-views">
    <div class="date">
      <h4>Asignados</h4>
      <span>Miércoles 02 de Mayo de 2018</span>
    </div>
    <div class="col-9">
      <app-ingreso-rut></app-ingreso-rut>
      <!-- <app-paciente-encontrado *ngIf="loginSuccess"></app-paciente-encontrado>
      <app-paciente-no-encontrado *ngIf="noLoginEmpty"></app-paciente-no-encontrado> -->
    </div>
    <div class="col-3">
      <button data-toggle="modal" data-target="#modalCalendario">
        <img src="assets/icons/icon-calendar.svg" alt="">
      </button>
      <button data-toggle="modal" data-target="#modalFiltro">
        <img src="assets/icons/icon-filter.svg" alt="">
      </button>
    </div>
    <div class="col-12">
      <app-table-asignados></app-table-asignados>
    </div>
  </div>
</div>