@import '../../scss/var.scss';
.menuInicial {
  @media (max-width: 995px) {
    display: none;
  }
  @media only screen and (min-width: 900px) and (max-width: 1024px) {
    margin-top: 6.2%;
  }
  @media only screen and (min-width: 1025px) and (max-width: 1058px) {
  margin-top: 6%;
  }
  @media only screen and (min-width: 1059px) and (max-width: 1094px) {
  margin-top: 5.8%;
  }
  @media only screen and (min-width: 1095px) and (max-width: 1133px) {
  margin-top: 5.6%;
  }
  @media only screen and (min-width: 1134px) and (max-width: 1175px) {
  margin-top: 5.4%;
  }
  @media only screen and (min-width: 1176px) and (max-width: 1221px) {
  margin-top: 5.2%;
  }
  @media only screen and (min-width: 1222px) and (max-width: 1269px) {
  margin-top: 5%;
  }
  @media only screen and (min-width: 1270px) and (max-width: 1322px) {
  margin-top: 4.8%;
  }
  @media only screen and (min-width: 1323px) and (max-width: 1380px) {
  margin-top: 4.6%;
  }
  @media (min-width: 1381px) {
  margin-top: 4.4%;
  }
  margin-left: 3.9%;
  height: 93%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  .container-views {
    margin: 0;
    width: 96%;
    .date {
      text-align: center;
      width: 100%;
      padding: .57em;
      span {
        font-size: 16px;
        color: $brand-blue_dark;
        font-weight: $regular;
      }
  }
  }
  .col-2 {
    display: block;
  }
}