@import '../../scss/var.scss';
.menuInicial {
  height: 100vh;
  .date {
    text-align: center;
    width: 100%;
    padding: .57em;
    span {
      font-size: 16px;
      color: $brand-blue_dark;
      font-weight: $regular;
    }
  }
  .col-2 {
  }
}