<div class="menuInicial">
  <div class="row container-views">
    <div class="date">
      <span>Miércoles 02 de Mayo de 2018</span>
    </div>
    <div class="col-9">
      <app-ingreso-rut (dismissLoginEmpty)="changeLogin()"></app-ingreso-rut>
      <app-paciente-encontrado *ngIf="loginSuccess"></app-paciente-encontrado>
      <app-paciente-no-encontrado *ngIf="noLoginEmpty"></app-paciente-no-encontrado>
    </div>
    <div class="col-3">
      <app-columna-promociones *ngIf="loginSuccess"></app-columna-promociones>
    </div>
    <div class="col-12">
      <app-resumen-gestiones *ngIf="home"></app-resumen-gestiones>
    </div>
  </div>
</div>