@mixin button {
  border-radius: 0.3em;
  background-color: $brand-blue_main;
  height: 3em;
  color: #fff;
  vertical-align: middle;
  font-size: 14px;
  border: none;
}
@mixin button-white {
  border-radius: 0.3em;
  background-color: #fff;
  height: 3em;
  color: $brand-blue_main;
  vertical-align: middle;
  font-size: 14px;
  border: 1px solid $brand-blue_main;
}

@mixin buttons-patients {
  border-radius: 4px;
  font-size: 12px;
  width: 100%;
  height: 2.5em;
  border: solid 1px $brand-blue_main;
  background-color: #fff;
  margin-bottom: 0.8em;
  text-align: left;
  color: $brand-blue_main;
  font-weight: $regular;
  .icon-arrow-right{
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      float: right;
  }
}