/* * * MEDIAQUERIES * * */

$break-small: 375px;
$break-medium: 750px;
$break-large: 1024px;

/* * * COLORS * * */

/* Main */

$brand-blue_main: #0079C8;
$brand-blue_dark: #05345C !important;
$brand-blue_link: #0093ff  /*#7FBCE3*/;
$brand-blue_light: #ECF5FA;

$gray_typo: #6C6E71;
$gray_disabled: #CACACA;

/* Secundary */

$purple: #755296;
$grey-background: #f2f2f2;
$mint: #7FC1C3;
$mint-dark: #BFE0E0;
$blue_typo: #0093FF;


/* * * Fonts * * */

$font-family: 'Montserrat';