
<table>
  <thead>
    <tr>
      <th class="table-header" [class.active]="order === 'info.center'"(click)="setOrder('info.center')"> Prestador
        <img class="icon_orden" src="./assets/icons/icon-orden.svg"/>
      </th>
      <th class="table-header" [class.active]="order === 'info.date'"(click)="setOrder('info.date')"> Próxima hora
        <img class="icon_orden" src="./assets/icons/icon-orden.svg"/>
      </th>
      <th class="table-header" [class.active]="order === 'info.price'"(click)="setOrder('info.price')"> Copago
          <img class="icon_orden" src="./assets/icons/icon-orden.svg"/>
        </th>
      <th class="table-header" [class.active]="order === 'info.doctor'"(click)="setOrder('info.doctor')"> Médico
        <img class="icon_orden" src="./assets/icons/icon-orden.svg"/>
      </th>
      <th class="table-header"></th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr *ngFor="let row of collection | orderBy: order:reverse:'case-insensitive'">
      <td class="table-body-row info-centro"> 
        <span class="table-typo_strong">{{ row.info.center[0] }}</span> 
        <a class="table-typo-light_blue_link" href="https://www.google.com/maps/place/Integram%C3%A9dica+Manquehue/@-33.4109654,-70.5689973,17z/data=!3m1!4b1!4m5!3m4!1s0x9662ceddf67196bb:0xa970f45009653d42!8m2!3d-33.4109654!4d-70.5668086" target="_blank">
          <img class="icon_location" src="./assets/icons/icon-location.svg"/>
          <div class="link-direccion">
            <span>{{ row.info.center[1] }}</span>
          </div>
        </a> 
      </td>
      <td class="table-body-row"> 
        <span class="table-typo_strong">{{ row.info.date[0] }}</span> 
        <span class="table-typo-light_blue_dark no-padding-top">{{ row.info.date[1] }}</span>
        <img class="icon_calendar" src="./assets/icons/icon-calendar.svg"/> 
      </td>
      <td class="table-body-row"> 
        <span class="table-typo-light_blue_dark"> ${{ row.info.price }}</span>
      </td>
      <td class="table-body-row"> 
        <span class="table-typo-light_blue_dark">{{ row.info.doctor }}</span>
        <img class="icon_image" data-dismiss="modal" data-toggle="modal" data-target="#modal-cvDoctor" src="{{row.info.image}}"/> 
      </td>
      <td class="table-body-row">
        <a class="more-options" (click)="openPop($event)">
          <img class="icon_dots" src="./assets/icons/icon-chevron-button.svg"/> 
        </a>
        <div class="container-popover">
          <ul>
            <li data-dismiss="modal" data-toggle="modal" data-target="#modal-success">
              Agendar hora
            </li>
            <li data-dismiss="modal" data-toggle="modal" data-target="#nuevaReservaAbierta">
              Más horas
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
