@import '../../scss/var';

table{
  width: 100%;
  
  .table-header{
    background-color: #F5FFFA;
    color: $gray_typo;
    font-size: 12px;
    font-weight: 500;
    padding: 1em;
    position: relative;
    cursor: pointer;

    .icon_orden{
      width: 10px;
      margin: 0 .5em;
    }
  }

  .table-body{
    font-size: 12px;
    tr{
      border-bottom: 1px solid #f0f0f0;
      vertical-align: top;

      .info-centro {
        width: 37%;
        padding-right: 3.5em;
      }

      .table-typo-light_blue_link{
        font-weight: 300;
        color: $brand-blue_main;
        display: inline;
        padding: 0 0 .5em 1em;
        cursor: pointer;

        &:hover{
          text-decoration: underline;
        }
      }
      .table-typo-light_blue_dark{
        font-weight: 300;
        color: $brand-blue_dark;
        display: block;   
        padding: 1em 0 .5em 1em;   
      }
      .table-typo_strong {
        font-weight: 500;
        color: $brand-blue_dark;
        display: block;
        padding: 1em 1em .5em 1em;
      }
      .no-padding-top {
        padding-top: 0 !important;
      }
      .more-options {
        cursor: pointer;
      }
      .icon {
        &_location {
          vertical-align: sub;
        }
        &_calendar{
          margin: -7.5em 0 0 -2.5em;
        }
        &_image{
          margin: -3.5em 0 0 -2em;
          width: 2em;
        }
        &_dots{
          margin: 2em 0 0 1em;
        }
      }
      .link-direccion {
        width: 85%;
        padding-left: 1em;
        display: inline-block;
      }
      .container-popover {
        position: absolute;
        display: inline-block;
        z-index: 1;
        right: -.4em;
        top: 8.5em;
      }
        .triangle {
          position: absolute;
          width: 0; 
          height: 0; 
          &-back {
            @extend .triangle;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid $grey-background;
            right: 1em;
            top: -.39em;
          }
          &-front {
            @extend .triangle;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #FFF;
            right: 1em;
            top: -.4em;
          }
        }
        ul {
          list-style: none;
          width: 11.25em;
          padding: 0;
          background-color: #FFF;
          li {
            border: 1px solid $grey-background;
            border-bottom: none;
            padding: .5em 1.5em;
            color: $gray_typo;
            font-size: 12px;
            cursor: pointer;
            &:last-child {
              border-bottom: 1px solid $grey-background;
            }
            &:hover {
              background-color: $brand-blue_main;
              color: #FFF;
            }
          }
        }
      }
    }
  }
