@import '../../scss/var.scss';
.info-paciente-encontrado {
  .icon-woman {
    padding-left: 30%;
    padding-right: 30%;
  }
  .patient-logo {
    text-align: center;
  }
  .patients-data {
    padding-top: 5%;
    text-align: center;
    .patients-name {
        color: $brand-blue_main;
        font-size: 16px;
        font-weight: $medium;
        padding: 0 6% 1em 6%;
    }
    .patients-contact, .patients-mail{
      margin-bottom: 0;
      color: $purple;
      font-weight: $medium;
      font-size: 14px;
      padding-top: .4em;
    }
    .patients-genre-age, .patients-rut{
      color: $gray_typo;
      margin: 0;
      font-weight: $light;
      font-size: 14px;
      padding-top: .4em;
    }
  }
}