<div class="info-paciente-encontrado">
  <div class="patient-logo">
    <img class="icon-woman" src="assets/icons/icon-woman.svg" alt=""/>
  </div>
  <div class="patients-data">
    <h5 class="patients-name">Francisca Andrea Velasco Ferrada</h5>
    <p class="patients-genre-age">M | 30 años, 2 meses y 8 días</p>
    <p class="patients-contact patients-mail">francisca.v@gmail.com</p>
    <p class="patients-contact">+569 6222 4567</p>
    <p class="patients-rut">RUT:  16.456.789-0</p>
    <p class="patients-rut">Previsión: Isapre Cruz Blanca</p>
  </div>
</div>