<div class="modal" id="nuevaReserva" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content no-padding">
      <div class="modal-body no-padding">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5>Nueva Reserva /
          <span>Francisca Andrea Velasco Ferrada</span>
        </h5>
        <div class="reservation">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="especialidad-tab" data-toggle="tab" href="#especialidad" role="tab" aria-controls="especialidad"
                aria-selected="true">
                <img class="off" src="assets/icons/icon-especialidad-tab-off.svg" alt="">
                <img class="on" src="assets/icons/icon-especialidad-tab-on.svg" alt="">
                Especialidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="medicos-tab" data-toggle="tab" href="#medicos" role="tab" aria-controls="medicos" aria-selected="false">
                <img class="off" src="assets/icons/icon-medicos-tab-off.svg" alt="">
                <img class="on" src="assets/icons/icon-medicos-tab-on.svg" alt="">
                Médicos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="examenes-tab" data-toggle="tab" href="#examenes" role="tab" aria-controls="examenes" aria-selected="false">
                <img class="off" src="assets/icons/icon-examenes.svg" alt="">
                <img class="on" src="assets/icons/icon-examenes-tab-on.svg" alt="">
                Exámenes</a>
            </li>
          </ul>
          <div class="tab-content" id="newTabContent">
            <div class="tab-pane fade show active" id="especialidad" role="tabpanel" aria-labelledby="especialidad-tab">
              <h6><span>*</span> Campos obligatorios</h6>
                <div class="row no-margin">
                  <div class="col-4 no-padding filtros">
                    <div class="filtro">
                      <img src="../../../assets/icons/icon-search.svg" alt="">
                      <ng-select [items]="especialidad"
                        bindLabel="name"
                        placeholder="Especialidad *">
                      </ng-select>
                    </div>
                    <div class="filtro">
                      <img src="../../../assets/icons/icon-search.svg" alt="">
                      <ng-select [items]="prestacion"
                        bindLabel="name"
                        placeholder="Prestación *">
                      </ng-select>
                    </div>
                    <div class="filtro">
                      <img src="../../../assets/icons/icon-search.svg" alt="">
                      <ng-select [items]="region"
                        bindLabel="name"
                        placeholder="Región">
                      </ng-select>
                    </div>
                    <div class="filtro last">
                      <img src="../../../assets/icons/icon-search.svg" alt="">
                      <ng-select [items]="centro"
                      bindLabel="name"
                      placeholder="Centro médico *">
                      </ng-select>
                    </div>
                    <!-- <div class="filtro">
                      <img src="../../../assets/icons/icon-search.svg" alt="">
                      <ng-select [items]="comuna"
                        bindLabel="name"
                        placeholder="Comuna">
                      </ng-select>
                    </div> -->
                    <div class="calendar">
                      <button (click)="calendar1 = true; next = false;">
                        <img src="../../../../assets/icons/icon-more-hours.svg" alt="">
                      </button>
                      <div class="carousel-date">
                        <img src="../../../../assets/icons/icon-arrow-left-grey.svg" class="left-arrow">
                        <div class="date-text">
                          <h5>{{monthWeek[0]}}</h5>
                          <h6>Semana del {{weekDays[0]}} al {{weekDays[1]}}</h6>
                        </div>
                        <img src="../../../../assets/icons/icon-arrow-right-blue.svg" class="right-arrow">
                      </div>
                      <table>
                        <tr>
                          <th *ngFor="let day of weekCalendar">{{day}}</th>
                        </tr>
                        <tr class="days">
                          <td *ngFor="let number of daysWeekCalendar">
                            <span (click)="next = true; calendar = false; selectedDay($event)" class="{{number.class}}">{{number.day}}</span>
                            <div  class="{{number.classb}}"></div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col-4 horas">
                    <div class="container-vacio">
                      <div *ngIf="next" class="apartado-hora">
                        <app-apartado-bxespecialidad></app-apartado-bxespecialidad>
                      </div>
                      <div *ngIf="calendar1 && !next" class="apartado-calendario">
                        <app-calendario-extendido></app-calendario-extendido>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 no-padding resumen">
                    <div class="container-vacio">
                      <div *ngIf="next" class="apartado-resumen">
                        <app-resumen-medico></app-resumen-medico>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="tab-pane fade" id="medicos" role="tabpanel" aria-labelledby="medicos-tab">
              <h6>
              <span>*</span> Campos obligatorios</h6>
              <div class="row no-margin">
                <div class="col-4 no-padding filtros">
                  <div class="filtro">
                    <img src="../../../assets/icons/icon-search.svg" alt="">
                    <ng-select [items]="doctor"
                      bindLabel="name"
                      placeholder="Nombre del médico *">
                    </ng-select>
                  </div>
                  <div class="filtro">
                    <img src="../../../assets/icons/icon-search.svg" alt="">
                    <ng-select [items]="especialidad"
                      bindLabel="name"
                      placeholder="Especialidad *">
                    </ng-select>
                  </div>
                  <div class="filtro">
                    <img src="../../../assets/icons/icon-search.svg" alt="">
                    <ng-select [items]="prestacion"
                      bindLabel="name"
                      placeholder="Prestación *">
                    </ng-select>
                  </div>
                  <div class="filtro">
                    <img src="../../../assets/icons/icon-search.svg" alt="">
                    <ng-select [items]="region"
                      bindLabel="name"
                      placeholder="Región">
                    </ng-select>
                  </div>
                  <div class="filtro">
                    <img src="../../../assets/icons/icon-search.svg" alt="">
                    <ng-select [items]="comuna"
                      bindLabel="name"
                      placeholder="Comuna">
                    </ng-select>
                  </div>
                  <div class="filtro">
                    <img src="../../../assets/icons/icon-search.svg" alt="">
                    <ng-select [items]="centro"
                      bindLabel="name"
                      placeholder="Centro médico *">
                    </ng-select>
                  </div>  
                  <div class="calendar">
                    <button (click)="calendar2 = true; next2 = false;">
                      <img src="../../../../assets/icons/icon-more-hours.svg" alt="">
                    </button>
                    <div class="carousel-date">
                      <img src="../../../../assets/icons/icon-arrow-left-grey.svg" class="left-arrow">
                      <div class="date-text">
                        <h5>{{monthWeek[0]}}</h5>
                        <h6>Semana del {{weekDays[0]}} al {{weekDays[1]}}</h6>
                      </div>
                      <img src="../../../../assets/icons/icon-arrow-right-blue.svg" class="right-arrow">
                    </div>
                    <table>
                      <tr>
                        <th *ngFor="let day of weekCalendar">{{day}}</th>
                      </tr>
                      <tr class="days">
                        <td *ngFor="let number of daysWeekCalendar">
                          <span (click)="next2 = true; calendar2 = false;; selectedDay($event)" class="{{number.class}}">{{number.day}}</span>
                          <div  class="{{number.classb}}"></div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="col-4 horas">
                  <div class="container-vacio">
                    <div *ngIf="next2" class="apartado-hora">
                        <app-apartado-bxmedico (openNewResume)="showResume()"></app-apartado-bxmedico>
                    </div>
                    <div *ngIf="calendar2 && !next2" class="apartado-calendario">
                      <app-calendario-extendido></app-calendario-extendido>
                    </div>
                  </div>
                </div>
                <div class="col-4 no-padding resumen">
                  <div class="container-vacio">
                    <div *ngIf="resumen" class="apartado-calendario">
                      <app-resumen-medico></app-resumen-medico>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="examenes" role="tabpanel" aria-labelledby="examenes-tab">
              <h6><span>*</span> Campos obligatorios</h6>
                <div class="row no-margin">
                  <div class="col-4 no-padding filtros">
                    <div class="codigo">
                      <img src="../../../assets/icons/icon-search.svg">
                      <input [ngClass]="{'contraer': inputFocus }" type="text" placeholder="Código prestación" (click)="inputFocus = !inputFocus;" autocomplete="off">
                      <button>Buscar</button>
                    </div>
                    <div class="filtro">
                      <img src="../../../assets/icons/icon-search.svg" alt="">
                      <ng-select [items]="especialidad"
                        bindLabel="name"
                        placeholder="Especialidad *">
                      </ng-select>
                    </div>
                    <div class="filtro">
                      <img src="../../../assets/icons/icon-search.svg" alt="">
                      <ng-select [items]="prestacion"
                        bindLabel="name"
                        placeholder="Nombre de la prestación *">
                      </ng-select>
                    </div>
                    <div class="filtro">
                      <img src="../../../assets/icons/icon-search.svg" alt="">
                      <ng-select [items]="region"
                        bindLabel="name"
                        placeholder="Región">
                      </ng-select>
                    </div>
                    <div class="filtro">
                      <img src="../../../assets/icons/icon-search.svg" alt="">
                      <ng-select [items]="centro"
                        bindLabel="name"
                        placeholder="Centro médico *">
                      </ng-select>
                    </div>
                    <div class="calendar">
                      <button (click)="calendar3 = true; next3 = false;">
                        <img src="../../../../assets/icons/icon-more-hours.svg" alt="">
                      </button>
                      <div class="carousel-date">
                        <img src="../../../../assets/icons/icon-arrow-left-grey.svg" class="left-arrow">
                        <div class="date-text">
                          <h5>{{monthWeek[0]}}</h5>
                          <h6>Semana del {{weekDays[0]}} al {{weekDays[1]}}</h6>
                        </div>
                        <img src="../../../../assets/icons/icon-arrow-right-blue.svg" class="right-arrow">
                      </div>
                      <table>
                        <tr>
                          <th *ngFor="let day of weekCalendar">{{day}}</th>
                        </tr>
                        <tr class="days">
                          <td *ngFor="let number of daysWeekCalendar">
                            <span (click)="next3 = true; calendar3 = false; selectedDay($event)" class="{{number.class}}">{{number.day}}</span>
                            <div  class="{{number.classb}}"></div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col-4 horas">
                    <div class="container-vacio">
                      <div *ngIf="next3" class="apartado-hora">
                          <app-apartado-bxmedico (openNewResume2)="showResume2()" ></app-apartado-bxmedico>
                      </div>
                      <div *ngIf="calendar3 && !next3" class="apartado-calendario">
                        <app-calendario-extendido></app-calendario-extendido>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 no-padding resumen">
                    <div class="container-vacio">
                      <div *ngIf="resumen2" class="apartado-resumen">
                        <app-resumen-examen></app-resumen-examen>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>