<!-- Login -->
<app-login *ngIf="noLogin" (dismissLogin)="hideLogin()"></app-login>
<!-- Pantalla principal -->
<div class="menuRut">
  <app-header (clickMenuBurguer)="recibeClickBurguer()"></app-header>
  <app-sidebar (dismissMenu)="mostrarAgenda()"></app-sidebar>
  <!-- Pantalla menú principal -->
  <app-menu-inicial *ngIf="menuInicial"></app-menu-inicial>
  <!-- Pantalla paciente agendar -->
  <app-agendar-paciente *ngIf="agenda"></app-agendar-paciente>
</div>
<!-- Modales -->
<app-modal-indications></app-modal-indications>
<app-editar-paciente></app-editar-paciente>
<app-modal-indications-back2new></app-modal-indications-back2new>
<app-modal-scheduled></app-modal-scheduled>
<app-modal-scheduled-fail></app-modal-scheduled-fail>
<app-modal-promotions></app-modal-promotions>
<app-modal-nueva-reserva></app-modal-nueva-reserva>
<app-modal-reserva-abierta></app-modal-reserva-abierta>
<app-reserva-horaprecio></app-reserva-horaprecio>
<app-modal-landscape></app-modal-landscape>
<app-modal-cv-doctor></app-modal-cv-doctor>
<app-modal-cv-doctor-h></app-modal-cv-doctor-h>