@import './scss/reset.scss';
@import './scss/var.scss';
@import './scss/mixin.scss';
@import './scss/mediaqueries.scss';
// @import './scss/fonts.scss';

.no-padding{
    padding: 0 !important;
}
.no-margin{
    margin: 0 !important;
}

.button {
    @include button;
}

.fix.width {
    max-width: 23%!important;
}

.container-accordion {
    position: relative;
}

:focus {
    outline: 1px solid red;
}
