<div class="info-patients">
  <app-carrusel-pacientes></app-carrusel-pacientes>
  <p class="datos-paciente">Datos paciente</p>
  <app-botonera-acciones-reserva></app-botonera-acciones-reserva>
  <!-- <div class="container-state">
    <div class="patients-state"><i class="fas fa-toggle-on"></i>
      <p>Llamar en otro momento</p>
    </div>
    <div class="patients-state"><i class="far fa-list-alt"></i>
      <p>No quiere hacer los exa.</p>
    </div>
    <div class="patients-state"><i class="fas fa-phone"></i>
      <p>No quiere que lo contacten</p>
    </div>
    <div class="patients-state"><i class="far fa-flag"></i>
      <p>Paciente incontactable</p>
    </div>
  </div> -->
  <div class="ultima-consulta">
    <div class="patients-background_grey">
      <h6>Última consulta </h6>
    </div>
    <div class="info-ultima-consulta">
      <p class="date">27/03/2018</p>
      <p class="doctor">Dr. Elena San Martín</p>
      <p class="especiality">Dermatología</p>
    </div>
  </div>
</div>
