<div class="info-patients">
  <a href="#"><img class="icon-arrow-left" src="assets/icons/icon-arrow-left-grey.svg" alt=""/></a>
  <img class="icon-woman" src="assets/icons/icon-woman.svg" alt=""/>
  <a href="#"><img class="icon-arrow-right" src="assets/icons/icon-arrow-right-blue.svg" alt=""/></a>
  <div class="patients-data">
    <h5 class="patients-name">Francisca Andrea Velasco Ferrada</h5>
    <p class="patients-genre-age">M | 30 años, 2 meses y 8 días</p>
    <p class="patients-contact patients-mail">francisca.v@gmail.com</p>
    <p class="patients-contact">+569 6222 4567</p>
    <p class="patients-rut">RUT:  16.456.789-0</p>
    <p class="patients-prevision">Previsión: Isapre Cruz Blanca</p>
    <p class="datos-paciente">Datos paciente</p>
  </div>
  <button class="patients-buttons">Nueva reserva de hora<img class="icon-arrow-right" src="assets/icons/icon-arrow-right-blue.svg" alt=""/></button>
  <button class="patients-buttons">Reservar por hora y precio<img class="icon-arrow-right" src="assets/icons/icon-arrow-right-blue.svg" alt=""/></button>
  <button class="patients-buttons">Editar datos del paciente<img class="icon-arrow-right" src="assets/icons/icon-arrow-right-blue.svg" alt=""/></button>
  <button class="patients-buttons">Reenviar e-mail agendar<img class="icon-arrow-right" src="assets/icons/icon-arrow-right-blue.svg" alt=""/></button>
  <div class="container-state">
    <div class="patients-state"><i class="fas fa-toggle-on"></i>
      <p>Llamar en otro momento</p>
    </div>
    <div class="patients-state"><i class="far fa-list-alt"></i>
      <p>No quiere hacer los exa.</p>
    </div>
    <div class="patients-state"><i class="fas fa-phone"></i>
      <p>No quiere que lo contacten</p>
    </div>
    <div class="patients-state"><i class="far fa-flag"></i>
      <p>Paciente incontactable</p>
    </div>
  </div>
  <div class="ultima-consulta">
    <div class="patients-background_grey">
      <h6>Última consulta </h6>
    </div>
    <div class="info-ultima-consulta">
      <p class="date">27/03/2018</p>
      <p class="doctor">Dr. Elena San Martín</p>
      <p class="especiality">Dermatología</p>
    </div>
  </div>
</div>
