@import '../../scss/var.scss';

.sidebar_background {
    @media (max-width: 995px) {
        display: none;
    }
    height: 94vh;
    background-image: linear-gradient(to bottom, #295d83, #4d8bb4);
    transition: .5s;
    width: 3.5em;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    .sidebar-list-button {
        list-style: none;
        padding: 0;
        display: inline-block;
        text-align: left;
        .buttons-sidebar {
            height: 3em;
            padding: .7em 0 0 .9em;
            width: 12.5em;
            cursor: pointer;
            .sidebar-icon {
                width: 1.8em;
            }
            span {
                padding-left: 1em;
                font-weight: 500;
                color: white;
            }
            // &:focus-within {
            //     background-color: $brand-blue_dark;
            // }
            &:hover {
                background-color: $brand-blue_dark;
            }
        }
        .bottom-menu {
            position: absolute;
            bottom: 2em;
        }
    }
    &:hover {
        width: 12.5em;
    }
}