<nav class="sidebar_background">
  <ul class="sidebar-list-button">
    <li class="buttons-sidebar_home">
      <img class="sidebar-icon" src="assets/icons/icon-home.svg" alt=""/>
      <span>Inicio</span>
    </li>
    <li class="buttons-sidebar_patients">
      <img class="sidebar-icon" src="assets/icons/icon-asignados-white.svg" alt=""/>
      <span>Asignados</span>
    </li>
    <li class="buttons-sidebar_promotions">
      <img class="sidebar-icon" src="assets/icons/icon-promociones.svg" alt=""/>
      <span>Promociones</span>
    </li>
  </ul>
</nav>