<nav class="sidebar_background">
  <ul class="sidebar-list-button">
    <li class="buttons-sidebar_home"><a class="sidebar-button-home" href="#"><img class="sidebar-icon" src="assets/icons/icon-home.svg" alt=""/></a>
      <p class="text-home">Inicio</p>
    </li>
    <li class="buttons-sidebar_patients"><a class="sidebar-button-home" href="#"><img class="sidebar-icon" src="assets/icons/icon-asignados-white.svg" alt=""/></a>
      <p class="text-patients">Pacientes</p>
    </li>
    <li class="buttons-sidebar_promotions"><a class="sidebar-button-home" href="#"><img class="sidebar-icon" src="assets/icons/icon-promociones.svg" alt=""/></a>
      <p class="text-promotions">Promociones</p>
    </li>
  </ul>
</nav>