<nav class="sidebar_background">
  <ul class="sidebar-list-button">
    <li class="buttons-sidebar">
      <img class="sidebar-icon" src="assets/icons/icon-home.svg" alt=""/>
      <span>Inicio</span>
    </li>
    <li class="buttons-sidebar">
      <img class="sidebar-icon" src="assets/icons/icon-asignados-white.svg" alt=""/>
      <span>Asignados</span>
    </li>
    <li class="buttons-sidebar">
      <img class="sidebar-icon" src="assets/icons/icon-promociones.svg" alt=""/>
      <span>Promociones</span>
    </li>
    <li class="buttons-sidebar">
      <img class="sidebar-icon" src="assets/icons/icon-cbclic.svg" alt=""/>
      <span>CB Clic</span>
    </li>
    <div class="bottom-menu">
      <li class="buttons-sidebar">
        <img class="sidebar-icon" src="assets/icons/icon-settings.svg" alt=""/>
        <span>Configuración</span>
      </li>
      <li class="buttons-sidebar">
        <img class="sidebar-icon" src="assets/icons/icon-sing-off.svg" alt=""/>
        <span>Cerrar sesión</span>
      </li>
    </div>
  </ul>
</nav>