@import '../../scss/var.scss';

.sidebar_background {
    height: 100vh;
    background-image: linear-gradient(to bottom, #295d83, #4d8bb4);
    transition: .5s;
    width: 4%;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    .sidebar-list-button {
        list-style: none;
        padding: 0;
        display: inline-block;
        text-align: left;
        li {
            height: 3em;
            padding: .7em 0 0 .9em;
            width: 10.5em;
            cursor: pointer;
            .sidebar-icon {
                font-size: 26px;
            }
            span {
                padding-left: 1em;
                font-weight: 500;
                color: white;
            }
            &:focus-within {
                background-color: $brand-blue_dark;
            }
        }
    }
    &:hover {
        width: 13%;
    }
}