<div class="botonera-acciones_reserva">
    <button class="patients-buttons" data-toggle="modal" data-target="#nuevaReserva">Nueva reserva de hora<img class="icon-arrow-right" src="assets/icons/icon-arrow-right-blue.svg" alt=""/></button>
    <button class="patients-buttons" data-toggle="modal" data-target="#reservaHoraPrecio">Reservar por hora y precio<img class="icon-arrow-right" src="assets/icons/icon-arrow-right-blue.svg" alt=""/></button>
    <!-- <button class="patients-buttons">Editar datos del paciente<img class="icon-arrow-right" src="assets/icons/icon-arrow-right-blue.svg" alt=""/></button> -->
    <button class="patients-buttons">Reenviar e-mail agendar<img class="icon-arrow-right" src="assets/icons/icon-arrow-right-blue.svg" alt=""/></button>
</div>
