@import '../../scss/var.scss';
@import '../../scss/mixin.scss';

.paciente-no-encontrado {
  margin: 2em 0 0 1em;
  width: 100%;
  border: 1px solid $gray_disabled;
  border-radius: 8px;
  padding: 5em 0 2em;
  .paciente {
    width: 38%;
    display: inline-block;
    border-right: 1px solid $gray_disabled;
    padding: .5em 0 2em 0;
    text-align: center;
    img {
      width: 50px;
    }
    h5 {
      font-size: 16px;
      color: #fb7c40;
      margin: 1em 0 1.5em;
    }
    p {
      font-size: 14px;
      font-weight: $light;
      color: $gray_typo;
    }
    .editar_telefono {
      padding-top: 1em;
      a {
        font-size: 12px;
        color: $brand-blue_main;
        font-weight: $light;
      }
    }
  }
  .botonera {
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    width: 25%;
    button {
      @include buttons-patients;
      height: 4.2em;
    }
  }
}