@import '../../scss/var';
.calendario-extendido {
  height: 32.85em;
  background-color: #FFF;
  border: 1px solid $gray_disabled;
  border-radius: 8px;
  text-align: center;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  width: 2rem;
}
.custom-day:hover, .custom-day.focused {
  background-color: #bfdef1;
  border-radius: 1rem;
}
.hidden {
  display: none;
}
.day {      
    text-align: center;
    padding: 7px;
    border-radius: 1rem;
    width: 100% !important;
  }
.ngb-dp-day{
    width: 3rem !important;
    height: 3rem !important;
  }
:host-context .ngb-dp-day {
  background-color: green;
}