@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
@import 'app/scss/var.scss';

body {
  background-color: #fff;
  font-family: 'Montserrat' !important;
  overflow-y: hidden;
  margin: 0 auto;
}

button, input {
  font-family: 'Montserrat' !important;
}

.container-views {
  margin-right: 0 !important;
  width: 96%;
  margin-left: 4% !important;
}

div:focus, input:focus {
  outline: 0 !important;
}
input:-moz-focusring {
  outline: 0 !important;
  border: 1px solid #d8d8d8;
  padding-left: 50px !important;
}
.ngb-dp-day{
  width: 3rem !important;
  height: 3rem !important;
  color: $brand-blue_main;
  font-size: 14px;
  font-weight: $light;
}
.ngb-dp-weekday {
  width: 3rem !important;
  margin-top: 1em;
  font-style: normal !important;
  font-weight: $light !important;
  font-size: 12px !important;
}
[_nghost-c27] {
  border: none !important;
}