<div class="container-box">
  <div class="tabs">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="agendar-tab" data-toggle="tab" href="#agendar" role="tab" aria-controls="agendar" aria-selected="true">Por agendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="agendado-tab" data-toggle="tab" href="#agendado" role="tab" aria-controls="agendado" aria-selected="false">Lo agendado</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active container-inner_todo" id="agendar" role="tabpanel" aria-labelledby="agendar-tab">
        <app-table-order></app-table-order>
      </div>
      <div class="tab-pane fade container-inner_ready" id="agendado" role="tabpanel" aria-labelledby="agendado-tab">
        <app-accordion></app-accordion>
      </div>
    </div>
  </div>
</div>
