@import '../../../scss/var';

.container-box{
  width: 101.5%;
  background-color: $brand-blue_light;
  padding-top: 1em;

  .tabs{
    margin-bottom: .29em;

    ul {
      border: none;
      padding-left: 1.5em;
      li {
        width: 9em;
        a {
          border: none;
          color: $brand-blue_dark;
          font-weight: 300;
          font-size: 14px;
          padding-left: 2em;
        }
        .active {
          font-weight: 500;
        }
      }
    }
  }

  .container-inner_todo{
    padding: .8em;
    background-color: #FFF;
    height: 100%;
    // height: 90vh;
    // overflow: scroll;
  }
  .container-inner_ready{
    @extend .container-inner_todo;
  }
}