@import '../../../scss/var';

#modalPromocion {
    .modal-dialog {
        width: 20em;
        height: 14.5em;
        position:fixed;
        bottom: -0.9em;
        right: 1.9em;
        .modal-header {
            border: none;
            padding-bottom: 0;
            .brand-logo {
                width: 2em;
                margin-top: -1em;
            }
            .title-modal {
                margin-left: -4em;
                font-size: 11px;                        
                .title-notification {
                    display: inline;
                    font-size: 14px;
                    font-weight: 500;
                    color: $brand-blue_dark;
                }   
            }
            .modal-hour {
                font-size: 10px;
                text-align: right;
                display: flex;
                color: $gray_typo;
                margin-top: -3em;
                p {
                    margin: 0;
                    padding-left: .5em;
                }
            }  
        }
        .modal-body {
            padding-top: 0;
            .modal-promotion {
                padding-left: 0.9em;
                h3 {
                    font-size: 30px;
                    color: $brand-blue_main;
                    margin-bottom: 0;
                }
                h4 {
                    color: $brand-blue_main;
                    margin-bottom: 0;
                    font-size: 25px;
                }
                .text-promotion {
                    font-size: 12px;
                    color: $gray_typo;
                    font-weight: 300;
                    margin-top: .5em;
                    span {
                        font-weight: 500;
                    }
                }
            }
            .close {
                color: $brand-blue_main;
                opacity: 1!important;
                font-weight: 500;
                span {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }  
        }
    }
}