<div class="modal fade" id="modalPromocion" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="brand-logo" src="assets/icons/icon-bupa-notification.svg" alt=""/>
          <div class="title-modal">
            <p class="title-notification">Clínica Bupa Santiago</p>
            <p class="subtitle"> Por todo el mes de mayo</p>
          </div>
          <div class="modal-hour">
            <img src="assets/icons/icon-clock.svg" alt="">
            <p>10:30</p>
          </div>
        </div>
        <div class="modal-body">            
          <div class="modal-promotion">
            <h3>20% Descuento </h3>
            <h4>en Exámenes</h4>
            <p class="text-promotion">Agendando cualquier examen en la <span>clínica Bupa Santiago</span></p>
          </div>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">oK</span></button>
        </div>
      </div>
    </div>
  </div>
