<div class="modal fade" id="modal-notification" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header"><img class="brand-logo" src="../../../assets/imgs/bupa-brand-circle.png" alt=""/>
          <div class="title-modal">
            <p class="title-notification">Clínica Bupa Santiago</p><br/>
            <p class="subtitle"> Por todo el mes de mayo</p>
          </div>
          <div class="modal-hour"><i class="far fa-clock"></i>
            <p>10:30</p>
          </div>
        </div>
        <div class="modal-body">            
          <div class="modal-promotion">
            <p class="title-promotion">20% Descuento <span>en Exámenes</span></p><br/>
            <p class="text-promotion">Agendando cualquier examen en la <span>clínica Bupa Santiago</span></p>
          </div>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">ok</span></button>
        </div>
      </div>
    </div>
  </div>
