<div class="resumen-medico">
  <div class="section-doctor">
    <img data-dismiss="modal" data-toggle="modal" data-target="#modal-cvDoctor" src="../../../../assets/icons/perfil-doctora.png">
    <h3>Dr. María Elena Rodríguez</h3>
    <h4>Dermatóloga</h4>
    <h6>Integramédica Manquehue</h6>
    <a href="https://www.google.com/maps/place/Integram%C3%A9dica+Manquehue/@-33.4109654,-70.5689973,17z/data=!3m1!4b1!4m5!3m4!1s0x9662ceddf67196bb:0xa970f45009653d42!8m2!3d-33.4109654!4d-70.5668086" target="_blank">Av. Manquehue 123, Las Condes
      <img src="./assets/icons/icon-location.svg"/>
    </a>
  </div>
  <div class="section-paciente">
    <img src="assets/icons/icon-woman.svg" alt=""/>
    <h5>Francisca Andrea Velasco Ferrada</h5>
    <p>francisca.v@gmail.com</p>
  </div>
  <div class="section-consulta">
    <div class="date-selected">
      <img src="assets/icons/icon-calendar.svg" alt=""/>
      <span>Martes 16 Mayo 2018</span>
    </div>
    <div class="row">
      <div class="col-6">
        <img src="assets/icons/icon-dawn.svg" alt=""/>
        <span class="date-info-text">11:15 AM</span>
      </div>
      <div class="col-6">
        <img src="assets/icons/icon-cash.svg" alt=""/>
        <span class="date-info-text">$ 48.999</span>
      </div>
    </div>
    <h5 data-dismiss="modal" data-toggle="modal" data-target="#modal-indications-back2new">Leer indicaciones</h5>
  </div>
  <button data-dismiss="modal" data-toggle="modal" data-target="#modal-success">Agendar</button>
</div>
