@import '../../scss/var';
@import '../../scss/mixin';
.resumen-medico {
  height: 32.85em;
  background-color: #FFF;
  border: 1px solid $brand-blue_main;
  border-radius: 8px;
  text-align: center;
  .section-doctor {
    border-bottom: 1px solid $gray_disabled;
    padding: 1em 0;
    img {
      margin-bottom: 1em;
      cursor: pointer;
    }
    h3 {
      font-size: 16px;
      color: $brand-blue_main;
      margin-bottom: .3em;
    }
    h4 {
      font-size: 14px;
      color: $gray_typo;
      font-weight: $regular;
    }
    h6 {
      font-size: 12px;
      color: $gray_typo;
      font-weight: $light;
      margin: 0;
    }
    a {
      font-size: 11px;
      color: $brand-blue_main;
      font-weight: $light;
      img {
        margin: 0;
        vertical-align: baseline;
        height: 1.5em;
      }
    }
  }
  .section-paciente {
    border-bottom: 1px solid $gray_disabled;
    padding: 1em 0;
    position: relative;
    h5 {
      font-size: 16px;
      color: $gray_typo;
      margin: 1em 0 .2em 0;
    }
    .mail-paciente {
      position: absolute;
      z-index: 1;
      left: 0;
      width: 100%;
      padding: .5em 0;
      background-color: #FFF;
      overflow: hidden;
      transition: width .5s;
      span {
        font-size: 16px;
        color: $purple;
        font-weight: $regular;
        margin-right: 1em;
      }
      img {
        cursor: pointer;
      }
    }
    .mail-editable {
      input {
        margin-right: .5em;
        height: 2.2em;
        width: 75%;
      }
      button {
        @include button-white;
        width: 16%;
        padding: .5em 1em;
        height: 2.5em;
      }
    }
    .editMail {
      width: 0!important;
    }
  }
  .section-consulta {
    padding: 1.5em 0 .5em 0;
    .date-selected {
      span {
        font-size: 16px;
        padding-left: 1em;
        color: $brand-blue_main;
      }
    }
    .row  {
      margin: 0;
      padding: 1em 0;
      .col-6 {
        padding: 0;
        .date-info-text {
          font-size: 16px;
          padding-left: 1em;
          color: $brand-blue_main;
        }
      }
    }
    h5 {
      font-size: 14px;
      font-weight: $light;
      color: $brand-blue_main;
      cursor: pointer;
    }
  }
  button {
    color: #FFF;
    background-color: #0079c8;
    font-size: 14px;
    padding: .6em 2.8em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
}