@import '../../scss/var';

.accordion {
  background-color: #FFF;
  max-height: 65vh;
  overflow: scroll;
  .accordion-item {
    border-top: 1px solid #f0f0f0;
    position: relative;
    overflow: hidden;
    input {
      position: absolute;
      opacity: 0;
      z-index: -1;

      &:checked {
        + label {
          background-color: #efffda;
        }
      }
    }
    .accordion-header {
      font-size: 14px;
      position: relative;
      padding: 1em 5em 1em 1em;
      margin: 0 !important;
      display: block;
      cursor: pointer;

      .accordion-title{
        color: #05345C;
        font-weight: 500;
      }
      .accordion-subtitle{
        color: $brand-blue_main;
        font-weight: 300;
        padding-left: 1em;
        img {
          vertical-align: sub;
        }

        &:hover{
          text-decoration: underline;
        }
      }
    }
    .icon{
      position: absolute;
      cursor: pointer;
      &_mail{
        @extend .icon;
        right: 1.5em;
        top: 1.2em;
      }
      &_noexam{
        @extend .icon;
        width: 1.6em;
        top: 1em;
        right: 1.5em;
      }
    }
    &:last-child{
      border-bottom: 1px solid $brand-blue_main;
    }
    .accordion-body{
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height .35s;
      -o-transition: max-height .35s;
      transition: max-height .35s;
    }
    input:checked ~ .accordion-body {
      max-height: 90vh;
    }
  }
  .mejores-opciones {
    text-align: center;
    padding: .8em 0;
    position: relative;
    z-index: 0;
    .link {
      color: $brand-blue_main;
      padding-left: .5em;
      font-size: 12px;
      font-weight: $regular;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.off {
  background-color: $gray_disabled;
  span {
    color: $gray_typo !important;
  }
}