<div class="accordion">
  <div class="accordionItem" *ngFor="let orden of ordenes; let i = index">
    <div class="tab accordion-item">
      <input id="acc{{i}}" type="checkbox" disabled>
      <label for="acc{{i}}" class="accordion-header on">
        <img class="{{orden.opacity}}" src="assets/icons/icon_arrow-lite.svg" alt="">
        <span class="accordion-title"> {{orden.exam}} </span> 
        <span class="accordion-subtitle" data-toggle="modal" data-target="#modal-indications"> {{orden.indication}} </span>
        <span class="alertMsg">
          <img src="assets/icons/icon_alert.svg" alt=""> No agendable
        </span>
      </label>
      <div class="iconFloat" (click)="openPop($event)">
        <!-- <img class="icon_mail"  src={{orden.icon}} > -->
      </div>
    </div>
    <div class="container-popover">
      <ul>
        <li (click)="closePop($event);blockAcc($event,option.block)" *ngFor="let option of orden.options">{{option.name}}</li>
      </ul>
    </div>
  </div>

  <div class="accordionItem" *ngFor="let orden of ordenes2; let i = index">
    <div class="tab accordion-item">
      <input id="accy{{i}}" type="checkbox">
      <label for="accy{{i}}" class="accordion-header on">
        <img class="{{orden.opacity}}"  src="assets/icons/icon_arrow-lite.svg" alt="">
        <span class="accordion-title"> {{orden.exam}} </span> 
        <span class="accordion-subtitle" data-toggle="modal" data-target="#modal-indications"> {{orden.indication}} </span>
      </label>
      <div class="iconFloat" (click)="openPop($event)">
        <!-- <img class="icon_mail"  src={{orden.icon}} > -->
      </div>
      <div class="accordion-body">
        <app-table-exams></app-table-exams>
        <div class="mejores-opciones">
          <img class="icon_search" src="./assets/icons/icon-otras_opciones.svg">
          <span data-toggle="modal" data-target="#reservaHoraPrecio" class="link">¿Quieres buscar otras mejores opciones?</span>
        </div>
      </div>
    </div>
    <div class="container-popover">
      <ul>
        <li (click)="closePop($event);blockAcc($event,option.block)" *ngFor="let option of orden.options">{{option.name}}</li>
      </ul>
    </div>
  </div>

  <div class="accordionItem" *ngFor="let orden of ordenes3; let i = index">
    <div class="tab accordion-item">
      <input id="acc2{{i + 1}}" type="checkbox" disabled>
      <label for="acc2{{i + 1}}" class="accordion-header on">
        <img class="{{orden.opacity}}" src="assets/icons/icon_arrow-lite.svg" alt="">
        <span class="accordion-title"> {{orden.exam}} </span>
        <span class="alertMsg">
          <img src="assets/icons/icon_alert.svg" alt=""> No agendable
        </span> 
      </label>
      <div class="iconFloat" (click)="openPop($event)">
        <!-- <img class="icon_mail"  src={{orden.icon}} > -->
      </div>
    </div>
    <div class="container-popover">
      <ul>
        <li (click)="closePop($event);blockAcc($event,option.block)" *ngFor="let option of orden.options">{{option.name}}</li>
      </ul>
    </div>
  </div>
</div>
