<div class="apartado-bxespecialidad" [ngClass]="{'contraer': hourSelected }">
  <div class="header">
    <h3>Martes 16 Mayo 2018</h3>
    <h4>Disponibilidad de horas por especialidad</h4>
  </div>
  <ul>
    <li class="list-doctors" *ngFor="let doctor of doctors">
      <div class="row">
        <div class="col-2">
          <img src="{{doctor.info.image}}" alt="">
        </div>
        <div class="col-10">
          <h4>{{ doctor.info.doctor }}</h4>
          <h5>{{ doctor.info.specialty }}</h5>
          <p>{{ doctor.info.center }}</p>
        </div>
      </div>
      <div class="carrusel-horas">
        <div class="icon-day">
          <img src="./assets/icons/icon-dawn.svg">
        </div>
        <ul>
          <li *ngFor="let hora of hoursAvailable">
            <label class="container">
              <input type="radio" name="hour">
              <span class="setTime">{{ hora }}</span>
              <span class="checkmark" (click)="hourSelected = !hourSelected;"></span>
            </label>
            <span class="separador">-</span>
          </li>
        </ul>
        <div class="icon-afternoon">
          <img src="./assets/icons/icon-sunset.svg">
        </div>
        <ul>
          <li *ngFor="let horaT of hoursAvailableAfternoon">
            <label class="container">
              <input type="radio" name="hour">
              <span class="setTime">{{ horaT }}</span>
              <span class="checkmark" (click)="hourSelected = !hourSelected;"></span>
            </label>
            <span class="separador">-</span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>