<div class="modal" id="modal-indications" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5>Indicaciones / <span>Leer todas las indicaciones</span></h5>
        <div class="lists-indications">
          <ul class="progress-tracker progress-tracker--vertical">
            <li class="progress-step is-complete"><span class="progress-marker">1</span><span class="progress-text">El examen se realiza en unos 15-30 minutos, aunque puede llevar más tiempo dependiendo de los hallazgos que se encuentre, o de si si se lleva a cabo álgun procedimiento terapéutico o toma de biopsias.</span></li>
            <li class="progress-step is-complete"><span class="progress-marker">2</span><span class="progress-text">El examen se puede hacer de forma ambulatoria.</span></li>
            <li class="progress-step is-complete"><span class="progress-marker">3</span><span class="progress-text">Se suele administrar un sedante para estar tranquilo durante la prueba, por lo que es recomendable que le acompañe alguien para llevarle luego a casa.</span></li>
            <li class="progress-step is-complete"><span class="progress-marker">4</span><span class="progress-text">No se requiere ninguna medicación especial.</span></li>
            <li class="progress-step is-complete"><span class="progress-marker">5</span><span class="progress-text">Es necesario permanecer sin ingerir agua ni alimentos durante 6-8 horas previas a la prueba. Esto facilita la exploración del intestino. Además, disminuye la posibilidad de vomitar con el consiguiente riesgo de que el vómito entre por la vía respiratoria y de problemas pulmonares graves. En caso de que se haga una endoscopia urgente (principalmente en casos de hemorragias digestivas importantes) se suele colocar previamente una sonda por la nariz hasta el estómago (una sonda nasogástrica), que vaciará el estómago de restos de comida.</span></li>
            <li class="progress-step is-complete"><span class="progress-marker">6</span><span class="progress-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ullam corporis, vero similique id suscipit blanditiis accusantium doloremque sint quam dolore nobis harum doloribus modi quas facilis aspernatur tempora quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nulla sit porro consectetur illo accusamus expedita recusandae fugiat nisi. Officiis iusto enim quas vel! Sunt corporis similique neque possimus natus? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum porro libero molestias? Commodi accusamus odit mollitia similique sit debitis ducimus eum soluta cumque non error aliquam, repellendus itaque iusto beatae?</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>